* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(237, 227, 227, 0.8);
}

header {
    padding: 40px 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: rgb(16, 15, 15);
}

header {

    padding: 20px;
}

header a:hover {
    color: #fff;
}


.home a {
    margin-left: 5px;
    font-size: 28px;

}

.links a {
    margin-left: 15px;
}