* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(237, 227, 227, 0.8);
}

header {
    padding: 40px 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: rgb(16, 15, 15);
}

header {

    padding: 20px;
}

header a:hover {
    color: #fff;
}


.home a {
    margin-left: 5px;
    font-size: 28px;

}

.links a {
    margin-left: 15px;
}

article {
    border: 1px solid rgb(171, 167, 167);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(244, 246, 243);
    padding: 10px;
    width: 400px;
    margin: 0px auto;
}

article:first-of-type {
    margin-top: 20px;
}

article img {
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

img,
div {
    margin-left: 20px;
}